<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week 3 Assignment</title>
</head>
<body>
    <form action="/generate_table" method="post">
    <label for="size">Select Table Size</label>
        <select name="size" id="size">
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>